.d-flex.flex-column.gap-3.pt-5.px-5.hide-scrollbar
  each message in messages
    -
      const bg = message.user ? "bg-light" : "bg-primary"
      const color = message.user ? "text-secondary" : "text-light"
      const position = message.user ? "align-self-start" : "align-self-end"
    .d-flex.message(class=position)
      img.d-none.d-md-block.rounded-circle.align-self-end.me-3(src=message.avatar alt="avatar" width="50" height="50")
      .p-4.rounded-4.shadow-sm(class=bg)
        if message.user
          p.fw-bold.text-dark.mb-1 #{message.user}
        p.mb-2(class=color) #{message.text}
        p.border-top.small.mb-0.pt-1(class=color) #{message.time}
